<!DOCTYPE html>
<html>
{{template "head" "Home"}}

<body>
	{{template "header"}}
	<div class="container">
		<h1>Go Web Starter</h1>
		<p class="lead">The future of awesome</p>
		<hr>
		<div class="row">
			<div class="col-sm-6">
				<h2>Feature 1</h2>
				<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
					nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
				<p><a href="/aboutus" role="button" class="btn btn-default">About us »</a></p>
			</div>
			<div class="col-sm-6">
				<h2>Feature 2</h2>
				<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
					nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
				<p><a href="/checkout" role="button" class="btn btn-success">Checkout »</a></p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<h2>Who we are</h2>
				<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
					nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
				<p><a href="/aboutus" role="button" class="btn btn-default">About us »</a></p>
			</div>
			<div class="col-sm-6">
				<h2>What we do</h2>
				<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
					nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
				<p><a href="/aboutus" role="button" class="btn btn-default">Learn more »</a></p>
			</div>
		</div>
	</div>
	{{template "footer"}}
</body>

</html>