<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="csrf-token" content="aZs5RH7L7TOSSSYTN3z8t4YKPQPQnhZgTk0vs=">
	<title>Home - ProjectAussie</title>
	<link rel="stylesheet" href="/assets/main.css" />
</head>

<body>
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
				<a
				href="/" class="navbar-brand"><i class="fa fa-cube"></i>Aussie</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="/aboutus">About</a></li>
					<li><a href="/blog">Blog</a></li>
					<li style="padding:13px;"><span class="badge"><a href="/register" style="color:white;">Register kit</a></span></li>
					<li>
						<div style="padding:8px;"><a href="/checkout" style="padding:5px 10px 5px 10px;max-width:110px;" class="btn btn-success">Buy now</a></div>
					</li>
					<li><a href="/contact">Support</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/login">Log in</a></li>
					<li>
						<div style="padding:4px;"></div><a href="/signup" style="padding:5px 10px 5px 10px;max-width:130px;" class="btn btn-info">Sign up for <strong>free</strong></a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container">
		<script>
			var y = a.c;

		</script>
		<h1>Project Aussie</h1>
		<p class="lead">The future of awesome</p>
		<hr>
		<div class="row">
			<div class="col-sm-6">
				<h2>Received a test kit?</h2>
				<p>Register your kit to learn how to retrieve and submit your sample </p>
				<p><a href="/register" role="button" class="btn btn-info">Register kit »</a></p>
			</div>
			<div class="col-sm-6">
				<h2>Don't have a test kit?</h2>
				<p>Buy a test kit now and we'll ship it to you right away </p>
				<p><a href="/checkout" role="button" class="btn btn-success">Buy now »</a></p>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<h2>Who we are</h2>
				<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
					nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
				<p><a href="/aboutus" role="button" class="btn btn-default">About us »</a></p>
			</div>
			<div class="col-sm-6">
				<h2>What we do</h2>
				<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
					nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
				<p><a href="/aboutus" role="button" class="btn btn-default">Learn more »</a></p>
			</div>
		</div>
	</div>
	<div style="margin-top:100px;" class="alert alert-info">REMINDER: This site is currently in development. All data, accounts, surveys, orders etc will be wiped frequently!</div>
	<footer>
		<div class="container text-center">
			<p class="pull-left">© 2015 ProjectAussie, Inc. All Rights Reserved</p>
			<ul class="pull-right list-inline">
				<li><a href="/contact">Contact / Support</a></li>
			</ul>
		</div>
	</footer>
	<script src="/assets/lib/jquery-2.1.3.min.js"></script>
	<script src="/assets/lib/bootstrap.min.js"></script>
	<script src="/assets/lib/bootstrap-validator.min.js"></script>
	<script src="/assets/lib/jquery.payment.min.js"></script>
	<script src="/assets/lib/knockout-3.3.0.js"></script>
	<script src="/assets/checkout.ko.js"></script>
	<script src="/assets/main.js"></script>
	<script src="/assets/application.js"></script>
</body>

</html>